.Question__header, .Question__subheader, .Question__search-bar, .Question__page-nav {
  margin-left: 110px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Question__header {
  font-size: large;
  font-weight: bold;
}

.Question__ask-button {
  margin-left: 25%;
}

.Question__header-views, .Question__views {
  width: 10%;
  min-width: 100px;
  text-align: right;
  font-size: small;
}

.Question__header-title, .Question__title {
  font-size: large;
}

.Question__table th, .Question__table td {
  padding: 5px 15px;
}
