<div class="row h-screen">
  <main role="main" class="col-md-10">
    <table class="Question__table">
      <thead>
        <th class="Question__header-views">Views</th>
        <th class="Question__header-title">Questions</th>
      </thead>
      <tbody>
        <tr class="Question__question">
          <td class="Question__views">{{this.question.views}}</td>
          <td class="Question__title">{{this.question.title}}</td>
        </tr>
      </tbody>
    </table>
  </main>
</div>